<div class="form-container">
 <%= form_for(@user,:url=>{:action=>'update_profile',:id=>current_user.id},:html=>{:class=>'cmxform'}) do |f| %>
 <p class="legend"><strong>Note:</strong> Required fields are marked with an asterisk (<em>*</em>)</p>
<fieldset>
<%= f.error_messages %>
<div>
    <label for="name">Name<em>*</em></label>
   <%= f.text_field :name %>
  </div>
<div>
    <label for="email">email <em>*</em></label>
   <%= f.text_field :email %>
  </div>
<div>
    <label for="password">Password <em>*</em></label>
   <%= f.password_field :password %>
  </div>
<div>
    <label for="password_confirmation">Password Confirmation</label>
 <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <label for="phone_number">Mobile Number</label>
 <%= f.text_field :phone_number %>
  </div>


  <div class="buttonrow">
    <%= f.submit "Save" ,:class=>'button'%>
  </div>
  </fieldset>
<% end %>
</div>
