<%= form_tag :action => 'create' %>

  <div><label>User Name:</label><%= @user_name %>
		<%= hidden_field_tag  'user_id', @user_id %>
  </div>
 <div>
<label>Examinations:</label><br>

<% @examinations.each_with_index do |c, index| %>
<%= check_box_tag "exam_#{c.id}", c.id %> <%= c.examname %></label>
<% end %>
</div>
  <div class="actions">
    <%= submit_tag "Create"%>
  </div>

<%= form_tag %>

