 <% form_for :userexamination,  do |f| -%> 
    User Name: 
      <%= f.text_field :user_id, :value=>@user_id  -%> 
     <% for  intr in total_examinations -%> 
         <%= check_box_tag "userexamination[exam_ids][]", "#{intr.id}", interest(intr) -%> # interest is a helper method 
         <%= "#{intr.examname}" -%> 
      <% end -%> 
   <% end -%> 

