html, body {
    background: #e5e5e5;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 100%;
    line-height: normal;
}

body, ol, ul, li, dt, tt, label, input, select, textarea {
    font-size: 12px;
    font-family: "Lucida Grande", Geneva, Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, ol, ul, li {
    margin: 0px;
}

a {
    color: blue;
    text-decoration: none;
}

.collection_select {
    color: #6F6F6F;
    font-size: 11px;
    height: 23px;
    margin-bottom: 5px;
    width: 134px;
}

form {
    margin: 0px;
}

ul li {
    list-style-type: none;
}

abbr {
    font-size: 10px;
}

small {
    font-size: 12px;
}

dt {
    font-size: 11px;
}

tt {
    font-size: 12px;
}

#header {
    background: #1e4262;
    color: skyblue;
    padding: 8px 16px 8px 16px;
}

#header h3 a {
    background: #1e4262;
    color: greenyellow;
    font: normal 15px "Lucida Grande", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#header #welcome {
    float: right;
    font-size: 12px;
}

#header #welcome a {
    color: lightyellow;
    padding: 1px 4px 2px 4px;
    text-decoration: none;
}

#header #welcome a:hover {
    background: #1e4262;
    color: yellow;
}

#header #welcome a.selected {
    background: steelblue;
    color: lightyellow;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

#header #jumpbox {
    background: steelblue;
    margin: 2px 0px 0px 0px;
    padding: 12px;
    position: absolute;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#header #jumpbox a {
    color: white;
    padding: 0px 0px 4px 0px;
}

#header #jumpbox a.selected {
    color: navy;
}

#header #jumpbox a:hover {
    background: steelblue;
}

#header #jumpbox input {
    margin: 2px 0px 0px 0px;
}

#tabs {
    background: #1e4262;
    height: 24px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#tabs li {
    float: left;
    font-size: 12px;
    list-style: none;
    margin: 0px 4px 0px 4px;
    white-space: nowrap;
}

#tabs a:link, #tabs a:visited {
    background: #466bb1;
    color: white;
    float: left;
    padding: 4px 8px 5px 8px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}

#tabs a:hover {
    background: #97baff;
    color: navy;
    white-space: nowrap;
}

#tabs a:link.active, #tabs a:visited.active {
    background: azure;
    color: navy;
    text-decoration: none;
    white-space: nowrap;
}

#footer {
    color: grey;
    font-size: 11px;
    padding: 0px 0px 0px 16px;
}

.title {
    border-bottom: 1px gray solid;
    color: #342d7e;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 2px;
}

.title img {
    position: relative;
    top: 2px;
}

.title_tools {
    font-size: 12px;
    float: right;
    margin: 4px 0px 0px 0px;
}

.subtitle {
    border-bottom: 1px silver solid;
    color: #2f2f2f;
    font-size: 13px;
    font-weight: bold;
}

.subtitle a:link, .subtitle a:visited {
    color: darkslateblue;
    text-decoration: none;
}

.subtitle a:hover {
    background: none;
}

.subtitle_tools {
    font-size: 12px;
    float: right;
}

.radio_box {
    line-height: 20px;
}

.radio_box input {
    position: relative;
    top: -2px;
}

.check_box {
    line-height: 20px;
}

.check_box input {
    position: relative;
    top: -3px;
}

.tabless {
    margin: auto;
    width: 480px;
}

.standalone {
    background: whitesmoke;
    border: 20px lightsteelblue solid;
    margin: 75px auto 6px auto;
    padding: 20px;
    width: 400px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.standalone input[type =
"text"], .standalone input[type = "password"] {
    font-size: 16px;
    padding: 2px;
    width: 355px;
}

.standalone input[type =
"submit"] {
    font-size: 14px;
}

.tabbed {
    padding: 12px 12px 12px 16px;
}

.main {
    background: white;
    padding: 2px 15px 15px 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
}

.sidebar {
    color: #3f3f3f;
    font-size: 12px;
    padding: 0px 12px 0px 0px;
    width: 210px;
}

.form {
    background: white;
}

.form h4 {
    font-size: 18px;
    height: 30px;
}

.tools {
    float: right;
    padding: 0px 0px 0px 4px;
}

.label {
    color: #3f3f3f;
    font-size: 12px;
    margin: 8px 0px 0px 0px;
}

.top {
    margin: 5px 0px 0px 0px;
}

.req {
    color: navy;
}

.intro {
    color: dimgray;
    font-size: 12px;
    padding-top: 5px;
}

.section {
    background: whitesmoke;
    color: #3f3f3f;
    margin: 0px 0px 2px 0px;
    padding: 4px 15px 8px 15px;
}

.remote {
    border: 5px pink solid;
    background: whitesmoke;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    position: relative;
}

.remote .close {
    background: lightblue;
    border-top: 1px gainsboro solid;
    border-left: 1px gainsboro solid;
    border-bottom: 1px grey solid;
    border-right: 1px grey solid;
    color: navy;
    cursor: pointer;
    height: 16px;
    margin: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 17px;
}

.buttonbar {
    border-top: 1px gray solid;
    margin: 8px auto;
    padding-top: 8px;
}

.section input, .sidebar input, .inline input, .section select, .sidebar select, .inline select, .section textarea, .sidebar textarea, .inline textarea {
    margin: 3px 0px 0px 0px;
    vertical-align: middle;
}

.cool {
    color: darkgreen;
}

.warn {
    color: crimson;
}

.urgent {
    color: darkred;
}

.black {
    color: black;
}

.strip {
    background: gainsboro;
    color: black;
    float: left;
    font-size: 12px;
    margin: 0px 6px 0px 0px;
    padding: 1px 4px 1px 3px;
    text-align: right;
    width: 75px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}

.bucket {
    margin: 0px 0px 10px 0px;
}

.prefix {
    width: 30px;
    font-size: 11px;
}

.comment {
    background: #f2f2f2;
    margin: 2px 0px 0px 0px;
    overflow: hidden;
    padding: 4px;
}

.comment input[type = text] {
    border: 1px #cfcfcf solid;
    color: grey;
    font-size: 12px;
    padding: 3px;
    width: 500px;
}

.comment textarea {
    font-size: 12px;
    height: 110px;
    padding: 3px;
    width: 500px;
}

.comment .gravatar {
    background: #f2f2f2;
    float: left;
    padding: 0px 10px 5px 0px;
}

.comment .body {
    display: inline;
    font-size: 12px;
}

.comment tt {
    font-size: 11px;
    color: #666666;
}

.comment dt {
    padding: 0px;
    margin: -10px 0px 0px 36px;
}

#paginate {
    float: right;
    font-size: 11px;
    margin: 4px 0px 0px 0px;
}

#paging {
    float: right;
    margin: 7px 5px 0px 0px;
}

.confirm {
    background: #cdfecd;
    border-left: 10px palegreen solid;
    font-size: 12px;
    margin: 0px 0px 6px 0px;
    padding: 6px;
}

.log {
    padding: 8px 0px 0px 0px;
}

.log h3 {
    border-bottom: 1px #2f2f2f dotted;
    color: #2f2f2f;
    margin: 0px 0px 4px 0px;
    padding: 2px 0px 2px 86px;
}

.log h3.overdue {
    color: crimson;
    border-bottom: 1px crimson dotted;
}

.log h3.due_asap {
    color: darkred;
    border-bottom: 1px darkred dotted;
}

.log h3.due_today {
    color: darkgreen;
    border-bottom: 1px darkgreen dotted;
}

.log li {
    color: #3f3f3f;
    font-size: 12px;
    list-style: none;
    padding: 3px 0px 3px 0px;
}

.log li tt {
    color: dimgray;
    font-size: 12px;
}

.log input[type = checkbox] {
    float: left;
    margin: 0px 4px 0px 0px;
}

.list {
    padding: 8px 0px 0px 0px;
}

.list li {
    border-bottom: 1px silver dotted;
    clear: both;
    color: #3f3f3f;
    font-size: 12px;
    list-style: none;
    padding: 6px 0px 6px 0px;
}

.list li .gravatar {
    float: left;
    padding: 0px 8px 0px 0px;
}

.list li tt {
    color: dimgray;
    font-size: 12px;
}

.list li dt {
    color: #3f3f3f;
    font-size: 12px;
    padding: 2px 0px 0px 88px;
}

.list li dt a:link, .list li dt a:visited {
    color: #3f3f3f;
    font-weight: bold;
    text-decoration: none;
}

.list li dt a:hover {
    background: dimgray;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.filters, .panel {
    background: snow;
    margin: 0px 0px 10px 0px;
    padding: 6px 8px 6px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.filters h4 {
    color: navy;
    font-size: 12px;
    font-weight: bold;
}

.filters input[type = text] {
    margin-bottom: 4px;
}

.panel div {
    margin: 0px 0px 10px 0px;
}

.panel h4 {
    font-size: 13px;
    font-weight: bold;
}

.panel li {
    border-bottom: 1px silver dotted;
    font-size: 12px;
    list-style: none;
    padding: 2px 0px 3px 0px;
}

.panel li dt {
    float: right;
    font-size: 10px;
    font-weight: bold;
}

.panel li tt {
    font-size: 12px;
}

.panel li.last {
    border-bottom: none;
}

.panel .caption {
    border-bottom: 1px grey solid;
    color: navy;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
}

.panel#recently {
    background: floralwhite;
}

.panel#summary {
    background: oldlace;
}

.selector {
    color: black;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.on {
    background: lightgoldenrodyellow;
    border: 1px silver inset;
}

.off {
    background: lightgrey;
    border: 1px silver outset;
}

.left {
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-topleft: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-top-left-radius: 9px;
}

.right {
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -webkit-border-top-right-radius: 9px;
}

.menu {
    background: #f4f5eb;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    left: 0px;
    padding: 2px 0px;
    position: absolute;
    top: 0px;
    width: 12em;
    -webkit-box-shadow: 10px 10px 15px gainsboro;
}

.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu li {
    list-style-position: outside;
}

.menu a {
    color: #555;
    cursor: default;
    display: block;
    margin: 0px 2px;
    outline: none;
    padding: 4px 15px;
    text-decoration: none;
}

.menu a:hover {
    background: mediumblue / / #006;
    color:
    #fff;
}

.errorExplanation {
    background-color: seashell;
    border: 2px solid salmon;
    font-size: 12px;
    padding: 8px;
    margin: 8px 13px 0px 13px;
}

.errorExplanation h2 {
    background: salmon;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: -2px;
    padding: 5px;
}

.errorExplanation ul {
    margin-left: 30px;
}

.errorExplanation ul li {
    border: none;
    font-size: 12px;
    list-style-type: disc;
    padding: 0px;
    margin-top: 3px;
}

.field_with_errors input {
    background-color: #FFEEFF;
    border-color: #CC0000;
}

.field_with_errors select {
    background-color: #FFEEFF;
    border-color: #CC0000;
}

.field_with_errors textarea {
    background-color: #FFEEFF;
    border-color: #CC0000;
}

.field_with_errors label {
    color: #CC0000;
}

p.flash_warning, p.flash_error {
    background: lightpink;
    color: maroon;
    margin: 0px;
    padding: 5px 0px 5px 16px;
}

p.flash_notice, p.flash_message {
    background: #df9;
    color: darkgreen;
    margin: 0px;
    padding: 5px 0px 5px 16px;
}

div.auto_complete {
    background: white;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 310px;
}

div.auto_complete ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div.auto_complete ul li {
    color: #3f3f3f;
    cursor: pointer;
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 2px;
}

div.auto_complete ul li .highlight {
    background: lightyellow;
}

div.auto_complete ul li.selected {
    background: royalblue;
    color: white;
}

div.auto_complete ul li.selected .highlight {
    background: royalblue;
}

.pagination {
    background: white;
    float: right;
    font-size: 12px;
    margin: 6px 0px 0px 0px;
}

.pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin: 0px 2px 0px 0px;
}

.pagination span.disabled {
    color: #999;
    border: 1px solid #DDD;
}

.pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1;
}

.pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5;
}

.pagination a:hover, .pagination a:focus {
    color: navy;
    background: lightyellow;
    border-color: navy;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .log input {
    float: left;
    margin: 1px 4px 0px 0px; }

  .standalone input[type="submit"] {
    font-size: 3em; } }
	
 * css for flash messages
 * 
.flash_error, .flash_notice, .flash_success,.warning {
	padding:5px 8px;margin-bottom:1em;margin-top:1em;border:1px solid #CCCCCC;	
    font-size:0.9em;
    padding-left:27px;
	}
.flash_error {
	background:url("/images/flash/form-ic-error.png") no-repeat scroll 5px 4px #FAD0D0;
   border-color:#F6ABAB;
    color:#B01717;
	}
.flash_notice {
	background:url("/images/flash/form-ic-info.png") no-repeat scroll 5px 4px #D1ECF7;
    border-color:#BCDFEF;
    color:#11689E;
	}
.flash_success {
	background:url("/images/flash/form-ic-success.png") no-repeat scroll 5px 4px #E5F8CE;
    border-color:#D0F1A6;
    color:#62B548;
 }
 .flash_warning{
 	background:url("/images/flash/form-ic-warning.png") no-repeat scroll 5px 4px #FFF6BF;
    border-color:#FCEB77;
    color:#957210;
 }
.flash_error a {color:#11689E;}
.flash_notice a {color:#11689E;}
.flash_success a {color:#11689E;}
.flash_warning a {color:#11689E;}
.product_img {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-topleft:7px;
background:transparent none repeat scroll 0 0;
color:black;
float:left;
font-size:12px;
margin:0 6px 0 0;
padding:1px 20px 1px 3px;
text-align:right;
width:40px;
}

.sub_menu_header {
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
margin:0 0 10px;
padding:6px 8px;
background-color:#8FB87F;
color:#F8F8F8;
height:1.3em;
margin:0;
padding:4px 8px 0 6px;
position:relative;
}
.sub_menu{
	bottom:0;
left:6px;
margin-right:-500px;
position:absolute;
}
.sub_menu ul {
margin:0;
padding:0;
}
.sub_menu li {
float:left;
list-style-type:none;
margin:0 2px 0 0;
padding:0;
white-space:nowrap;
}
.sub_menu li a {
color:#FFFFFF;
display:block;
font-weight:bold;
margin:0;
padding:1.3px 6px;
text-decoration:none;
}
.sub_menu li a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#5A7B6C none repeat scroll 0 0;
color:#FFFFFF;
}
.sub_menu li a.selected, .sub_menu li a.selected:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
color:#555555;
}
.ac_filter {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
background:skyblue none repeat scroll 0 0;
margin:0 0 10px;
padding:6px 8px;
}

hr {
border : none;
border-top : dashed 1px skyblue;
color : #FFFFFF;
background-color : #FFFFFF;
height : 1px;
}

.show_label{
color: #0033cc;	
	}

/* this css is used to display show pages of admin dashboard in two columns */
#outer { width: 750px; margin: 0 auto; }
#leftcontainer { float: left; margin-right: 10px; width: 350px; }
#rightcontainer { float: left; margin-right: 10px; margin-right: 0; width: 350px; }
#belowouter { width: 750px; margin: 0 auto; }
#belowleft { float: left; margin-right: 10px; width: 470px; }
#belowright { float: left; margin-right: 10px; margin-right: 0; width: 470px; }



/* orders Css */
#orders h3{
	font-weight:bold;
line-height:1.3;
margin:0;
padding:5px 0 0;
text-align:center;
background:#356AA0 none repeat scroll 0 0;
color:#FFFFFF;
}
.orderstable {
border:1px solid #EEEEEE;
border-collapse:collapse;
width:100%;
margin-bottom:1.4em;
border-spacing:0;
}
.orderstable td{
border:1px solid #EEEEEE;
color:#333333;
padding:4px;
text-align:center;
}
.orderstable th{
border:2px solid #EEEEEE;
color:#333333;
padding:4px;
text-align:center;
}


/* admin Css table */
#admintable h3{
	font-weight:bold;
line-height:1.3;
margin:0;
padding:5px 0 0;
text-align:center;
background:#356AA0 none repeat scroll 0 0;
color:#FFFFFF;
}
.admintable {
border:1px solid #EEEEEE;
border-collapse:collapse;
width:100%;
margin-bottom:1.4em;
border-spacing:0;
}
.admintable td{
border:1px solid #EEEEEE;
color:#333333;
padding:4px;
text-align:center;
font-size:11px;
}
.admintable th{
border:2px solid #EEEEEE;
color:#333333;
padding:4px;
text-align:center;
font-size:11.5px;
}

.highlight{
	background-color:yellow;
}




/**********************************

Form - Container

***********************************/
div.form-container { margin: 10px; padding: 5px; background-color: #FFF; }

p.legend { margin-bottom: 1em; }
p.legend em { color: #C00; font-style: normal; }

div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.errors p { margin: 0; }
div.errors p em { color: #C00; font-style: normal; font-weight: bold; }

div.form-container form p { margin: 0; }
div.form-container form p.note { margin-left: 170px; font-size: 90%; color: #333; }
div.form-container form fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
div.form-container form legend { font-weight: bold; color: #666; }
div.form-container form fieldset div { padding: 0.25em 0; }
div.form-container label, 
div.form-container span.label { margin-right: 10px; padding-right: 10px; width: 200px; display: block; float: left; text-align: right; position: relative; }
div.form-container label.error, 
div.form-container span.error { color: #C00; }
div.form-container label em, 
div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
div.form-container input.error { border-color: #C00; background-color: #FEF; }
div.form-container input:focus,
div.form-container input.error:focus, 
div.form-container textarea:focus {	background-color: #FFC; border-color: #FC6; }
div.form-container div.controlset label, 
div.form-container div.controlset input { display: inline; float: none; }
div.form-container div.controlset div { margin-left: 170px; }
div.form-container div.buttonrow { margin-left: 180px; }
/* link button */
.link-button {
-moz-border-radius:8px 8px 8px 8px !important;
-moz-box-shadow:0 1px 0 #000000 !important;
background:-moz-linear-gradient(center top , #E86E36, #964418) repeat scroll 0 0 transparent !important;
border-bottom:0 none !important;
border-top:1px solid #CF942D !important;
color:white !important;
display:inline !important;
float:none !important;
font-size:13px !important;
margin:0 !important;
padding:1px 10px !important;
text-decoration:none !important;
text-shadow:0 1px 0 rgba(0, 0, 0, 0.4) !important;
vertical-align:middle !important;
}

.link-button:hover {
background:none repeat scroll 0 0 #4F220D !important;
border-top:1px solid #4F220D !important;
color:#CCCCCC !important;
margin:0 !important;
text-decoration:none !important;
}
.link-button:active {
background:none repeat scroll 0 0 #261105;
border-top:1px solid #261105 !important;
}
.link-button:visited:before, .header-button:visited:after {
content:"" !important;
}

/* header link buttons */
a.header_button {
   clear:both;
   display:block;
	float:left;
	padding:5px;
	margin:0 6px 0px 0;
	background:#E9E9E9;
	border:1px solid #999999;
	text-decoration:none;
	font-size:11px;
	line-height:8px;
	text-align:center;
	color:#000066;
	width:75px;
}

a.header_button:hover {
	color:#FFFFFF;
	background:#999999;
}



.bottom_links{
padding-right:100px;
text-align:right;
}
/* Alaram + Voltage+conductance table */
.alarmtable{
text-align:center;
padding:5px; 
}
th,td .alarmtable 
{
border:1px solid #C9C4ED;
}
.alarmtable td{
  padding:2px;
}
.col
{
border:0px;
}
/* ------Color Icons------------- */
.normal_icon,.warning_icon,.alaram_icon,.offline_icon{
width:13px;
margin: 16px 250px -17px -12px;
height:16px;
border: 1px solid #000000;
border-radius:50px;
-moz-border-radius:50px;
-webkit-border-radius:50px;
background:green;
text-align:center;
font-size:20px;
color:#fff}
.warning_icon{background:yellow; }
.alaram-icon{background:red; }
.offline_icon{background:#666666; }
.standby_normal,.standby_warning,.standby_alaram,.standby_offline {
   background: none repeat scroll 0 0 ;
   background-color:#41A317;
   border: 1px solid #000000;
   margin: 16px 281px -17px -12px;
   padding: 5px 5px 9px;
}
.standby_warning { background-color:yellow;}
.standby_alaram{ background-color:#C11B17;}
.standby_offline{background-color:#736F6E;}

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 520px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}




#q-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
}
#q-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#q-table td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#q-table tr:hover td
{
	background: #d0dafd;
	color: #339;
}

/* button & link */
.more-large:hover{text-decoration:none;color:#646363;}
.more, more:visited{
	background-image:url(images/but-color.gif);
	background-repeat:repeat-x;
	display:inline-block;
	height:31px;
	line-height:29px;
	padding:0 20px;
	color:#fff !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}	
.more:hover{
	background-position:0 -31px !important;
	text-decoration:none;
	color:#fff;
}

