<%content_tag_for(:tr,user) do -%>
<td><%=model_status user %></td>
<td><%= user.roles[0].name%></td>
 <td> <%= link_to h(user.name), admin_user_path(user) %></td>
 <td><%=h user.email %></td>

 <td><%=h user.phone_number %></td>

 <td><%=h User.find(user.created_by).name %></td>
 <td><%=h user.created_at.strftime('%d-%m-%Y %H:%M:%S')%></td>
 <td><%=distance_of_time_in_words_to_now(user.last_login_at, include_seconds = true)  if user.last_login_at %> ago</td>
 
 <td>
<%= link_to 'Edit', edit_admin_user_path(user) %>
</td>
<td> <%=link_to_model_status user %> 
</td> 	


 <% end %>

