<div class="form-container">
<% if @questionbank.question_type == 'image' %>
    <fieldset>
        <div>
            <label>
                <b>Name:</b>
            </label>
            <%=h @questionbank.subject.name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Question Option:</b>
            </label>
            <%=h  @questionbank.question_option %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Question Type:</b>
            </label>
            <%=h  @questionbank.question_type %>
        </div>
        <hr/>        
        <div>
            <label>
                <b>Question:</b>
            </label>
            <%= image_tag  @questionbank.question.url %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Solution-1:</b>
            </label>
            <%=image_tag  @questionbank.option1.url(:thumb) %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-2:</b>
            </label>
            <%= image_tag  @questionbank.option2.url(:thumb) %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-3:</b>
            </label>
            <%=image_tag  @questionbank.option3.url(:thumb) %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-4:</b>
            </label>
            <%=  image_tag @questionbank.option4.url(:thumb) %>
        </div>
        <hr/>
        
    </fieldset>
<% elsif @questionbank.question_type == "text"%>
   <fieldset>
        <div>
            <label>
                <b>Name:</b>
            </label>
            <%=h @questionbank.subject.name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Question Option:</b>
            </label>
            <%=h  @questionbank.question_option %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Question Type:</b>
            </label>
            <%=h  @questionbank.question_type %>
        </div>
        <hr/>        
        <div>
            <label>
                <b>Question:</b>
            </label>
            <%=h  @questionbank.question_text %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Solution-1:</b>
            </label>
            <%=h  @questionbank.option1_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-2:</b>
            </label>
            <%=h  @questionbank.option2_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-3:</b>
            </label>
            <%=h  @questionbank.option3_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-4:</b>
            </label>
            <%=h  @questionbank.option4_text %>
        </div>
        <hr/>
       
    </fieldset>
<% end %>
</div>

<div class="bottom_links">

<%= link_to 'Edit', edit_questionbank_path(@questionbank),:class=>'link-button' %> 
<%= link_to 'All Questions', questionbanks_path ,:class=>'link-button'%>
</div>
