<% if @question.question_type == "text" %>
<table id="q-table">
<tr>
<th scope="col"><%= @question.question_text %></th>
<tr>
<tr>
<td>
	<input type = "hidden" id="question_id" value=<%= @question.id %> />
	<input type = "hidden" id="subject_id"  value=<%= @question.subject_id %> />
     <input type = "hidden" id="exam_id" value=<%= params[:exam_id] %> />
	<input type = "radio" name="answer" id="1" onclick="checkSelected(this.id);"><%= @question.option1_text %></td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="2" onclick="checkSelected(this.id);"><%= @question.option2_text %>
</td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="3" onclick="checkSelected(this.id);"><%= @question.option3_text %>
</td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="4" onclick="checkSelected(this.id);"><%= @question.option4_text %>
</td>
</tr>
</table>
<% elsif @question.question_type == "image" %>
<table id="q-table">
<tr>
<th scope="col"><%=image_tag @question.question.url %></th>
<tr>
<tr>
<td>
	<input type = "hidden" id="question_id" value=<%= @question.id %> />
	<input type = "hidden" id="subject_id"  value=<%= @question.subject_id %> />
     <input type = "hidden" id="exam_id" value=<%= params[:exam_id] %> />
	<input type = "radio" name="answer" id="1" onclick="checkSelected(this.id);"><%=image_tag @question.option1.url(:thumb)%></td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="2" onclick="checkSelected(this.id);"><%= image_tag @question.option2.url(:medium) %>
</td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="3" onclick="checkSelected(this.id);"><%= image_tag @question.option3.url(:medium) %>
</td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="4" onclick="checkSelected(this.id);"><%= image_tag @question.option4.url(:medium) %>
</td>
</tr>
</table>

<% end %>

<div class="class1">
<%= link_to "Previous" , "#" ,:class=>"examQuestion", :id => @question.id.to_i - 1 %> |  <%= link_to "Next", "#", :class=>"examQuestion", :id => @question.id.to_i + 1 %>
</div>


<script>
	function checkSelected(id){
		qid = $("#question_id").val();
		sid = $("#subject_id").val();
        tid = $("#disp").val();
//		console.log(id);
        eid = $("#exam_id").val();

 		$.ajax({
		url: "/activexam/answer?question_id="+ qid +"&answer_id=" + id + "&subject_id=" + sid + "&time=" + tid + "&exam_id=" + eid,
		context: document.body,
		success: function(){
		    //$(this).addClass("done");
	        }
		});
	}
</script>

<script>
jQuery(function($) {
  $('.examQuestion').bind('click', function() {
    var q_id = this.id;
     $.get("/activexam/show?exam_id=1", {id: q_id},
        function(data){
          
        });
    return false
  })
});
</script>

					
