<style type="text/css">
.inputtext { width: 50px; height: 20px;font-weight:bold; color:blue; }
</style>
<style type="text/css">

span {
  display: inline-table;
  float: center;
  width: 10px;

}
.class1 a { color:white;
padding:2px 3px;
background-color:#1E4262;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
.class1 a:hover {
background:skyblue;
}

</style>


<script type="text/javascript">
    var mins
    var secs;
    
    function countDown(){
        mins = 1 * minutes("<%= @total_time %>"); // change minutes here
        secs = 0 + seconds(":01"); // change seconds here (always add an additional second to your total)
        redo();
    }
    
    function minutes(obj){
        for (var i = 0; i < obj.length; i++) {
            if (obj.substring(i, i + 1) == ":") 
                break;
        }
        return (obj.substring(0, i));
    }
    
    function seconds(obj){
        for (var i = 0; i < obj.length; i++) {
            if (obj.substring(i, i + 1) == ":") 
                break;
        }
        return (obj.substring(i + 1, obj.length));
    }
    
    function dis(mins, secs){
        var disp;
        if (mins <= 9) {
            disp = " 0";
        }
        else {
            disp = " ";
        }
        disp += mins + ":";
        if (secs <= 9) {
            disp += "0" + secs;
        }
        else {
            disp += secs;
        }
        return (disp);
    }
    
    function redo(){
        secs--;
        if (secs == -1) {
            secs = 59;
            mins--;
        }
        document.getElementById('disp').value = dis(mins, secs); // setup additional displays here.
        if ((mins == 0) && (secs == 0)) {
            window.alert("Exam Time is up. Press OK to continue view your score."); // change timeout message as required
            window.location = "/activexam/test_complete?exam_id=<%= params[:exam_id]%>" // redirects to specified page once timer ends and ok button is pressed
        }
        else {
            cd = setTimeout("redo()", 1000);
        }
    }
    
    function init(){
        countDown();

    }
    
    window.onload = init;
</script>

<div align="right">
<b>Time Left: </b><input id="disp" readonly="true" type="text" border="0" name="disp" size="5" class="inputtext"><br>
 <a href="#"  onclick="examsaveLogout();" class="more" />Save & Logout</a>
</div>
<h3>Questions</h3>
<% i = 1 %>
<table border="0">
<tr>
<td>
<% @activexams.each do |q| %>
<% if i == 51 or i == 101 or i == 151 %> <br/><% end %> 
<span class="class1">	<%= link_to  i, '#', :class=>"examQuestion", :id => q.id %> </span>
    <% i = i + 1%>

<% end %>
</td>
  </tr>
</table>

<div id="questionShow">

</div>



<script>
jQuery(function($) {
  $('.examQuestion').bind('click', function() {
    var q_id = this.id;
     $.get("/activexam/show?exam_id=<%= params[:exam_id] %>", {id: q_id},
        function(data){
          
        });
    return false
  })
});
</script>


<script type="text/javascript">
		function examsaveLogout(){
		var answer = confirm("You are about to Save your Test. If you really want to Save and write Test again, please click OK. Otherwise, please click Cancel")
if (answer)
window.location ="/activexam/save_exam?exam_id=<%= params[:exam_id] %>"
	}
</script>

<script type="text/javascript">
		function examendAlert(){
		var answer = confirm("You are about to end your Test. If you really want to quit, please click OK. Otherwise, please click Cancel")
if (answer)
window.location ="/activexam/test_complete?exam_id=<%= params[:exam_id]%>"
	}
</script>

<div align="center">
<a href="#"  onclick="examendAlert();" class="more" />Test Completed</a>
</div>
</div>

