<%=render :partial=>'/header' %>
<table class="tabbed" height="100%" width="100%" cellspacing="0" cellpadding="0">
    <tr>
 
        <td id='main' class='main' valign='top' >
            <%=render :partial=>'/import_flash' %>
            <%=yield %>
        </td>
    </tr>
</table>
<%=render :partial=>'/footer' %>

